<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Symfony Blog{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block stylesheets %}
		{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> #}
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
    	rel="stylesheet">
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    	integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
		
		<link rel="stylesheet" href="{{ asset('assets/css/styles.min.css') }}">
	{% endblock %}
</head>
<body>

<header>


    <div class="top-menu">
      <div class="menu-wrap">
        <div class="phone-email">
          <div class="phone"><img class="header-icon" src="./assets/img/icons8_phone_16px.png" alt="" /><a
              href="callto:+1123456789">+1123 456 789</a></div>
          <div class="email"><img class="header-icon" src="./assets/img/icons8_new_post_24px.png" alt="" /><a
              href="mailto:info@company.com">info@company.com</a></div>
        </div>
        <div class="icons-social">
          <a href=""><img class="header-icon" src="./assets/img/icons8_facebook_f_24px.png" alt="" /></a>
          <a href=""><img class="header-icon" src="./assets/img/icons8_twitter_squared_24px.png" alt="" /></a>
          <a href=""><img class="header-icon" src="./assets/img/icons8_instagram_24px.png" alt="" /></a>
          <a href=""><img class="header-icon" src="./assets/img/icons8_linkedin_2_32px.png" alt="" /></a>
          <a href=""><img class="header-icon" src="./assets/img/icons8_behance_32px.png" alt="" /></a>
        </div>
      </div>
    </div>


	<div class="bottom-menu">
      <div class="menu-wrap"><a href="{{path('home')}}"><img src="./assets/img/logo.png" alt="" /></a>
        <nav class="menu">
          <ul class="menu_list">
		  	{% if app.user and (app.user.roles[0] == "ROLE_ADMIN" or app.user.roles[0] == "ROLE_SUPER")%}
				<li><a class="active" href="{{ path('cat', {'id' : -1})}}">ESPACE ADMIN</a></li>
			{% endif %}
            <li><a class="" href="{{path('home')}}">home</a></li>
			<li><a href="{{ path('cat', {'id' : 0})}}">All</a></li>
            {% for categorie in categories %}
				<li><a href="{{ path('cat', {'id' : categorie.id})}}">{{categorie.description}}</a></li>
			{% endfor %}
			
          </ul>
        </nav>
        <div class="menu_right">
          <div class="cart"><a href="{{path('panier_index')}}"><img class="header-icon" src="./assets/img/icons8_shopping_cart_24px.png" alt="" />
            {% if nbCmds>0%}
			<span class="cart-number">{{nbCmds}}</span>
				{% else %}
			<span class="cart-number"></span>
				{% endif %}
			</a></div>

			{% if not app.user%}
				<a href="{{path('security_connexion')}}" style="margin-left:15px" ><div class="nav_menu"><img class="header-icon" src="./assets/img/icons8-login-24.png" alt="login" /></div></a>
			{% else %}
				<a href="{{path('security_logout')}}" style="margin-left:15px" ><div class="nav_menu"><img class="header-icon" src="./assets/img/icons8-logout-rounded-left-24.png" alt="logout" /></div></a>
			{% endif %}
			
          	
		</div>
      </div>
    </div>


</header>






	{# <nav>
	    <div class="nav-wrapper">
	    	<div class="container">
	    		<a href="{{path('projectsymfony')}}" class="brand-logo">RENOSHOP-Bell</a>
			      	<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{path('projectsymfony')}}">Home</a></li>

					{% for categorie in categories %}
					<li><a href="{{ path('cat', {'id' : categorie.id})}}">{{categorie.description}}</a></li>
					{% endfor %}

					{% if nbCmds>0%}
					<li><a href="{{path('panier_index')}}">Panier({{nbCmds}})</a></li>
						{% else %}
					<li><a href="{{path('panier_index')}}">Panier</a></li>
						{% endif %}
					{% if not app.user%}
			        <li><a href="{{path('security_connexion')}}">Connexion</a></li>
						{% else %}
					<li><a href="{{path('security_logout')}}">Déconnexion</a></li>
						{% endif %}
		      	</ul>
	    	</div>
	    </div>

  	</nav> #}







  	{% block content %}

  	{% endblock %}

	{% block scripts %}
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
	{% endblock %}
	{% block javascripts %}
		{# <script src="https://kit.fontawesome.com/a076d05399.js"></script> #}

	{% endblock %}
</body>
</html>